.container-cards {
  display: flex;
  justify-content: center;
  margin: 40px 1rem 0 180px;
}

.container-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.container-pickedCards {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.container-pickedCards .playcard {
  margin-left: 0;
}
