:root {
  --bg-color: #028902;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color);
}

.btn-action {
  cursor: pointer;
  border: 1px solid grey;
  background: #fff;
  border-radius: 3px;
  padding: 7px 14px;
  font-size: 1.2rem;
}
